<!DOCTYPE html>
<html>
<head>
    <title>Test Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard Test</h1>
    <p>User: <%= user ? user.firstName + ' ' + user.lastName : 'No user' %></p>
    <p>Total Users: <%= stats ? stats.totalUsers : 'No stats' %></p>
</body>
</html>